body{
    margin: 0px auto;
    font-family: 'Oswald', sans-serif;
    
}
/* menubar css start  */
.menubar{
    margin-left: 800px;
    display: inline-block;
}
ul {
    list-style-type: none;

  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: bold;
  }
  
  li a:hover {
    color: #31B0D5;

  }
  /* menubar css end */
/* introduce css start */
  .introduce{
    width: 100%;
    margin-top: 20px;
  }
  .left-side{
    float: left;
    display: inline-block;
    margin-left: 100px;
    margin-top: 60px;
  }
  .left-side h1{
      font-size: 50px;
      line-height: 10px;
      font-weight: 900;
  }
  .left-side p{
      margin-bottom: 40px;
      font-size: 18px;
      font-weight: bold;
  }
  .button{
      background-color: #31B0D5;
      color: wheat;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 5px;
      font-size: 15px;
      font-weight: bold;
  }
  .name{
      color: #31B0D5;
  }
  .right-side img{
      height: 500px;
      width: 550px;
      margin-left: 200px;
  }
  /* introduce css end */
/* about css start */
.left img{
    height: 500px;
    width: 550px;
    margin-left: 100px;
    float: left;
}
.right{
    width: 500px;
    float: right;
    margin: 100px 20px;
    font-weight: bold;
}
/* about css end */

/* work css start */
.work-section{
    background-color: rgb(250, 246, 246);
    margin-top: 600px;
    padding: 20px 0px;
}
.work-header{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0px;
    font-weight: bold;
}
.latest{
    color: #31B0D5;
}

#div1 {
    float: left;
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    background: white;
    box-sizing: border-box;
    margin: 10px 20px;
}

#div2 {
    width:30%;
    padding:10px;
    display: inline-block;
    background: white;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 10px 20px;
}

#div3 {
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
    background: white;
    display: inline-block;
    border-radius: 10px;
    margin: 10px 20px;
}
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px; 
  }
  .container {
    padding: 5px 10px;
  }
.card img {
  border-radius: 5px 5px 0 0;
  height: 250px;
  width: 200px;
}
/* work css end */
/* contact css start */
.contact img{
  width: 70%;
  height: 200px;
  margin-left: 15%;
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
}
.contact h2{
  margin-left: 20%;
  margin-top: 175px;
  position: absolute;
  z-index: 1;
  color: white;
}
.chat-btn{
  position: absolute;
  margin-left: 70%;
  margin-top: 175px;
  z-index: 1;
}
/* contact css end */
/* social css start */
.social{
  text-align: center;
  line-height: 5px;
}
.social h5{
  font-weight: bold;
}
.social h3{
  font-weight: bold;
}
.icon img{
  width: 50px;
  height: 50px;
  margin: 20px 10px;
}
/* social css end */